<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.vpn-keepalive</string>
    <key>ProgramArguments</key>
    <array>
        <string>/sbin/ping</string>
        <string>-c</string>
        <string>1</string>
        <string>8.8.8.8</string>
    </array>
    <key>StartInterval</key>
    <integer>240</integer>
</dict>
</plist>
